@charset "UTF-8";
// Fonts
//@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";
@import "scss/regular.scss";
@import "scss/light.scss";
@import "scss/duotone.scss";
@import "scss/v4-shims.scss";
@import "jquery.dataTables-1.10.2.scss";
@import "select2-4.0.6.scss";
//@import '~paper-dashboard/assets/sass/paper-dashboard.scss';

body {
	background-color: #f7f7f7;
	font-weight: 500;
}

img {
	height: auto;
}

.btn {
	font-weight: 500;
	&-link {
		font-weight: 500;
	}
}

.text {
	&-orange {
		color: $orange;
	}
}

.badge {
	font-size: 11px;
}

.modal {
	&-open {
		.modal {
			&.show {
				display: flex !important;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&-dialog {
		width: 100%;
	}
}

.page {
	.btn {
		&-orange {
			background-color: $orange;
			border-color: $orange;
			color: $white;
			&:hover, &:focus, &:active {
				background-color: $dark_orange !important;
				border-color: $dark_orange !important;
			}
		}
	}
	.sidebar {
		font-size: 13px;
		&:after {
			background-color: $blue;
		}
		&-top {
			position: relative;
			z-index: 33;
		}
		&-wrapper {
			position: relative;
			z-index: 32;
		}
		&-wrapper {
			background-color: #121212;
		}
		.account-name {
			font-size: 14px;
		}

		.logo-image-small {
			margin-bottom: -35px;
			.icon {
				background-color: #121212;
				border-radius: 50px;
				display: inline-block;
				padding: 10px;
			}
			img {
				width: 50px;
			}
		}

		.nav {
			li {
				> a {
					border-radius: 0 20px 20px 0;
					color: #fff !important;
					font-size: 15px;
					padding: 5px 15px;
					margin-left: 0;
					text-transform: none;
					i {
						color: #fff !important;
					}
				}

				ul {
					background-color: #1d1d1d;
					a {
						font-size: 13px;
					}
				}
			}
		}

		&[data-active-color="danger"] {
			.nav {
				li {
					&.active {
						> a {
							background-color: #e96117;
							color: #fff !important;
							&:after, &:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	.navbar {
		.navbar-wrapper {
			.btn-link {
				color: $blue !important;
			}
		}
		.fa-phone {
			transform: rotateZ(90deg);
		}
	}
	.dropdown-menu {
		.dropdown-item {
			border-radius: 0;
			font-size: 11px;
		    line-height: 15px;
		    padding: 0.25rem 1rem;
		}
	}

	.services-list {
	    background-color: #f2f2f2;
	    border-radius: 4px;
	    max-height: 90px;
	    font-size: 12px;
	    list-style-position: inside;
	    overflow-y: auto;
	    margin: 0;
	    padding: 10px;
	}
}
.row {
	&-small {
		margin-left: -5px;
		margin-right: -5px;
		> .item {
			padding: 0 5px;
		}
	}
	&-medium {
		margin-left: -10px;
		margin-right: -10px;
		> .item {
			padding: 0 10px;
		}
	}
}
.table {
	&.table-separate {
		border-collapse: separate;
		border-spacing: 0 6px;
		font-weight: 500;
		tr {
			> td, th {
				border: 0;
				padding: 12px 14px;
			}
		}
		thead {
			background-color: #3d496f;
			color: #8a9ec3;
			th {
				color: #8a9ec3;
				font-size: 13px;
			}
		}
		tbody {
			tr {
				td {
					background-color: $white;
					color: #1c2955;
					font-size: 13px;
				}
			}
		}
	}
	&.table-numbering {
		tbody {
			counter-reset: list-counter;
			tr {
				.cell-counter {
					counter-increment: list-counter;
					.number {
						&:before {
							content: counter(list-counter);
						}
					}
				}
			}
		}
	}
	&-bordered {
		thead {
			th, td {
				border-bottom-width: 1px;
			}
		}
	}
	&.table-costs {
		tr {
			td {
				font-size: 12px;
				font-weight: 700;
				.form-control {
					height: 28px;
					margin: 0;
					padding: 2px 10px;
				}
			}
		}
	}
}
.table-tap {
	tbody {
		td {
			padding: 5px;
		}
	}
	.form-control {
	    height: 26px;
	    padding: 2px 10px;
	    font-size: 12px;
	    margin: 0;
	}
	.input-expandable {
	    background: transparent !important;
	    color: $black;
	    cursor: text;
	    font-size: 13px;
		height: auto;
	    line-height: 15px;
	    margin: 0;
	    overflow: hidden;
	    padding: 0;
	    resize: none;
	}
}
.form-card {
	.card-header {
		background-color: transparent;
		border: 0;
		padding-bottom: 0;
		.card-title {
			border-bottom: 3px solid #66e7fa;
			color: $dark;
			font-size: 14px;
		    font-weight: 700;
		    margin-bottom: 0;
		    padding: 0.75rem 0;
		    text-transform: uppercase;
		}
	}
	.card-body {
		label {
			color: $dark;
			font-size: 10px;
	    	font-weight: 500;
		}
		.list-inline {
			label {
				font-size: 13px;
			}
		}
	}
	.card-title-buttons {
		.btn {
			font-size: 12px;
		    line-height: 12px;
		    padding: 3px 10px;
		    margin: 1px 0;
		}
	}
	.second-title {
		border-bottom: 3px solid #66e7fa;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.col-form-label {
	    background-color: $white;
	    border-radius: 4px;
	    color: #aaa;
	    //font-size: 10px;
	    line-height: 16px;
	    padding: 0 5px;
	    margin: 0 0 0 10px;
	    position: relative;
	    vertical-align: middle;
	    z-index: 1;
	}
	.form-control {
		border-width: 2px;
		font-size: 13px;
		font-weight: 400;
		line-height: 17px;
		margin-top: -12px;
		&:focus {
			border-color: $dark;
			box-shadow: none;
		}
		&::placeholder {
			color: #f0f0f0;
		}
		&:-ms-input-placeholder {
			color: #f0f0f0;
		}
		&::-webkit-input-placeholder {
			color: #f0f0f0;
		}
		&.is-invalid {
			+ .select2 {
				.select2-selection {
					border-color: $red;
				}
			}
		}
	}
	input {
		&.form-control {
			&:placeholder-shown:not(:focus) {
				border-color: #ced4da;
			}
			&:not(:placeholder-shown) {
				border-color: $dark;
			}
		}
	}
	textarea {
		&.form-control {
			/*&:valid {
				border-color: $dark;
			}*/
		}
	}
	p {
		&.form-control {
			height: auto;
		}
	}
	.btn {
		&[type="submit"] {
			font-weight: 700;
			min-width: 200px;
			text-transform: uppercase;
		}
	}

	.table {
		&.table-separate {
			tr {
				td, th {
					padding: 8px 20px;
				}
			}
			tbody {
				td {
					background-color: #efefef;
				}
			}
		}

		.select2-container {
			margin-top: 0;
		}
	}

	.card-footer {
		.btn {
			text-transform: none;
		}
	}
}
.select2-container--default {
	.select2-selection {
		&--single {
			border-color: #ced4da;
			border-width: 2px;
			height: 35px;
			.select2-selection__rendered {
				line-height: 32px;
			}
			.select2-selection__arrow {
				background-color: #606060;
				height: 100%;
				width: 30px;
				b {
					border-color: #66e7fa transparent transparent transparent;
					border-width: 8px 7px 0 7px;
					margin-left: -6px;
					margin-top: -4px;
				}
			}
		}
	}
	&.select2-container--open {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					border-color: transparent transparent #66e7fa transparent;
    				border-width: 0 8px 7px 7px;
				}
			}
		}
	}
}

.page_centered {
	background-color: $dark_blue;
	background-image: url('../images/bg_blue.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.page_login {
	.input-content {
		position: relative;
		.icon {
		    color: #a1a1a1;
			position: absolute;
		    right: 12px;
		    top: 50%;
		    font-size: 20px;
		    line-height: 18px;
		    margin: -10px 0 0;
		}
	}
}

.page_home {
	.welcome {
		background: $blue;
	    color: $white;
	    border-radius: 4px 4px 0 0;
	    margin-bottom: -20px;
	}
	.card-subtitle {
		margin-top: 0;
	}
	.card-list {
		.item {
			.btn {
				background-color: transparent !important;
				font-size: 17px;
    			line-height: 15px;
				&:hover, &:focus, &:active {
					color: $blue !important;
				}
			}
		}
		.created-ot {
			.card-title {
				color: #0584ef;
			}
		}
		.pending-ot {
			.card-title {
				color: #e76217;
			}
		}
		.atended-ot {
			.card-title {
				color: #1ec539;
			}
		}
		.prom-ot {
			.card-title {
				color: #b2960f;
			}
		}
		.personal-ot {
			.card-title {
				color: #ed1043;
			}
		}
	}

	.card-ot-progress {
		background-color: #1c2955;
		.table {
			.step {
				&-1 {
					.step-active {
						background-color: #773908;
					}
				}
				&-2 {
					.step-active {
						background-color: #0b5876;
					}
				}
				&-3 {
					.step-active {
						background-color: #029487;
					}
				}
				&-4 {
					.step-active {
						background-color: #10d428;
					}
				}
			}
		}

		.list-steps {
			border-collapse: separate;
			border-spacing: 0 0;
			display: table;
			table-layout: fixed;
			width: 130px;
			margin: 0 auto;
			.step {
				background-color: #b6b6b6;
				border: 1px solid #a5a5a5;
				display: table-cell;
				height: 11px;
				vertical-align: middle;
				&:first-child {
					border-radius: 8px 0 0 8px;
				}
				&:last-child {
					border-radius: 0 8px 8px 0;
				}
			}
		}
	}

	.resumen-card {
		background-color: #01416f;
	}
}
.page_client {
	.container-nav {
		max-width: 1140px;
	}
	header {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
	.client-nav {
		border-top: 1px solid #c9c9c9;
		max-width: none;
		.c-menu-list {
			max-width: 1140px;
			margin: 0 auto;
			width: 100%;
			padding-left: 15px;
			li {
				.nav-link {
					color: #0c76b1;
					display: block;
					padding: 6px 10px;
				}
				&.active {
					.nav-link {
						border-bottom: 3px solid #2e4386;
						color: #2e4386;
					}
				}
			}
		}
	}
	.main-panel {
		width: 100%;
		.navbar {
			background-color: #fff !important;
		}
		> .content {
			padding: 0 15px;
			max-width: 1140px;
			margin-top: 120px;
		}
	}
}
.ots-welcome {
	background-color: #003e63;
	.card-body {
		padding: 15px;
	}
	.text {
		color: #51b5f3;
		text-transform: none;
	}
}

.ots-list {
	.card-title {
		color: #003e63;
		font-size: 14px;
	    font-weight: 900;
	    text-transform: uppercase;
	}
}
.table-ots {
    border-collapse: separate;
    border-spacing: 0 6px;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    font-weight: 700;
    tbody {
    	tr {
	    	td {
			    background: #f5f3f4;
			    border: 0;
			    color: #003e63;
			    padding: 5px 10px;
			    &:first-child {
			    	border-radius: 8px 0 0 8px;
			    }
			    &:last-child {
			    	border-radius: 0 8px 8px 0;
			    }
			}
	    }
    }
}

.page-ot-list {
	.steps {
		.s-item {
		    background: #dedede;
		    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 15% 50%, 0% 0%);
		    color: $white;
	    	font-size: 12px;
	    	font-weight: 700;
		    //margin: 0 3px;
		    //padding: 0 0px 0 15px;
		    padding: 4px 10px;
		    position: relative;
		    text-transform: uppercase;
		    /*&:before {
		    	content: '';
			    position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    border: 11px solid #f5f3f4;
			    border-top-color: transparent;
			    border-bottom-color: transparent;
			    border-right: 0;
			    z-index: 1;
		    }*/
		    &:first-child {
		    	clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 0% 0%);
		    	padding-left: 4px;
		    	/*&:before {
		    		display: none;
		    	}*/
		    }
		    /*&:after {
		    	content: '';
			    position: absolute;
			    right: -10px;
			    top: 0;
			    bottom: 0;
			    border: 10px solid #dedede;
			    border-top-color: transparent;
			    border-bottom-color: transparent;
			    border-right: 0;
			    z-index: 3;
		    }*/
		    &:last-child {
		    	clip-path: polygon(100% 0, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
		    	padding-right: 4px;
		    }
		}

		.completed {
			&.step-one {
				background-color: #91bf45;
				background: linear-gradient(to top, #87b145 50%, #91bf45 50%);
				/*&:after {
					border-left-color: #91bf45;
				}*/
			}
			&.step-two {
				background-color: #50b18e;
				background: linear-gradient(to top, #4aa886 50%, #50b18e 50%);
				/*&:after {
					border-left-color: #50b18e;
				}*/
			}
			&.step-three {
				background-color: #3d8fbf;
				background: linear-gradient(to top, #3885af 50%, #3d8fbf 50%);
				/*&:after {
					border-left-color: #3d8fbf;
				}*/
			}
			&.step-four {
				background-color: #2e4386;
				background: linear-gradient(to top, #293d7a 50%, #2e4386 50%);
				/*&:after {
					border-left-color: #2e4386;
				}*/
			}
		}
	}
}

.inventario-card {
	background-color: #f5f3f4;
	.list {
		background-color: #424242;
		color: #51b5f3;
		.item {
			&:not(:last-child) {
				border-bottom: 1px solid #909090;
			}
		}
	}
}

.btn {
	&-success {
		background-color: #027781;
		border-color: #027781;
	}
}

.page-ot {
	.ot-main-title {
		border-bottom: 3px solid #d9d9d9;
		color: #003e63;
		font-size: 17px;
		font-weight: 900;
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 10px;
		text-transform: uppercase;
	}
	.ot-list {
		.select2 {
			min-width: 200px;
		}
	}
	.select-ot {
		border-radius: 0;
		display: inline-block;
    	width: auto;
	}
	.steps {
		.card {
			border: 0;
			&-header {
				clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
				padding: 7px 10px;
				margin-right: -14px;
			    position: relative;
			    z-index: 2;
				.card-title {
					color: $white;
					font-size: 15px;
				    font-weight: 700;
				    text-transform: uppercase;
					margin: 0;
				}
			}
			&-body {
				background-color: #f4f4f4;
				/*border: 1px solid rgba(0, 0, 0, 0.125);
				border-top: 0;*/
			}
			&-footer {
				background-color: #e3e1e2;
			}
		}
		.step {
			.s-title {
				font-size: 18px;
				font-weight: 700;
			}
			.s-icon {
				font-size: 22px;
				min-height: 30px;
			}
			.s-desc {
				line-height: 15px;
				min-height: 30px;
			}
			.c-icon {
				min-height: 40px;
				font-size: 40px;
				line-height: 40px;
				opacity: 0;
				visibility: hidden;
			}
			.btn-step {
				border-radius: 25px;
				font-size: 13px;
			    padding: 5px 15px;
			    min-width: 120px;
			    text-transform: none;
			    i {
			    	font-size: 18px;
				    line-height: 13px;
				    vertical-align: middle;
			    }
			}
			.text-completed {
				display: none;
			}
			&.completed {
				.c-icon {
					color: #3ec312;
					opacity: 1;
					visibility: visible;
				}
				.text-completed {
					display: block;
				}
				.text-processing {
					display: none;
				}
			}
			&:first-child {
				.card-header {
					clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 0%);
				}
			}
			&:last-child {
				.card-header {
					clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
    				margin-right: 0;
				}
			}
			&-one {
				.card-header {
					background-color: #91bf45;
					background: linear-gradient(to top, #87b145 50%, #91bf45 50%);
				}
				.s-title {
					color: #91bf45;
				}
			}
			&-two {
				.card-header {
					background-color: #50b18e;
					background: linear-gradient(to top, #4aa886 50%, #50b18e 50%);
				}
				.s-title {
					color: #50b18e;
				}
			}
			&-three {
				.card-header {
					background-color: #3d8fbf;
					background: linear-gradient(to top, #3885af 50%, #3d8fbf 50%);
				}
				.s-title {
					color: #3d8fbf;
				}
			}
			&-four {
				.card-header {
					background-color: #2e4386;
					background: linear-gradient(to top, #293d7a 50%, #2e4386 50%);
				}
				.s-title {
					color: #2e4386;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.page_client {
		.client-nav {
			.c-menu-list {
				li {
					.nav-link {
						padding: 16px 10px;
					}
				}
			}
		}
		.main-panel {
			> .content {
				margin-top: 150px;
			}
		}
	}
}
@media (max-width: 575px) {
	.page-ot {
		.steps {
			.step {
				.card {
					.card-header {
						clip-path: none;
						margin: 0;
						&:after {
							content: "";
						    position: absolute;
						    left: 50%;
						    width: 0;
						    height: 0;
						    border: 10px solid #87b145;
						    border-left-color: transparent;
						    border-right-color: transparent;
						    border-bottom: 0;
						    margin-left: -10px;
						    top: 100%;
						}
					}
				}
				&.step-two {
					.card {
						&-header {
							&:after {
								border-top-color: #4aa886;
							}
						}
					}
				}
				&.step-three {
					.card {
						&-header {
							&:after {
								border-top-color: #3885af;
							}
						}
					}
				}
				&.step-four {
					.card {
						&-header {
							&:after {
								border-top-color: #293d7a;
							}
						}
					}
				}
			}
		}
	}
}
@media print {
	.main-panel {
		width: 100%;
	}
}